@font-face {
  font-family: "iconfont"; /* Project id 2937293 */
  src: url('iconfont.woff2?t=1636955085532') format('woff2'),
       url('iconfont.woff?t=1636955085532') format('woff'),
       url('iconfont.ttf?t=1636955085532') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-debug:before {
  content: "\e606";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-http:before {
  content: "\e609";
}

.icon-actions:before {
  content: "\e751";
}

.icon-Exception:before {
  content: "\e618";
}

.icon-REJECT:before {
  content: "\ea03";
}

